/* html,
body {
    height: 100vh;
    width: 100vw;
} */

#dua{
    color: #354259;
}

.font-pd {
    font-family: 'Playfair Display', serif !important;
    font-size: 16px;
    letter-spacing: 2px;
    /* color: #354259; */
}

.font-pd-btn {
    font-family: 'Poppins', sans-serif !important;
}

.font-hr {
    font-family: 'Hurricane', cursive;
    font-size: 40px;
}

.font-nama-tamu {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
}

.font-ab {
    font-family: 'Alex Brush', cursive;
    font-size: 48px;
}

.font-pop {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    
}

.font-ks{
    font-family: 'Kaushan Script', cursive;
    font-size: 48px;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(104,127,169,1) 0%, rgba(81,99,132,1) 50%, rgba(53,66,89,1) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bg-depan {
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0;
}

.floating-button-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.floating-circle-button {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #F3DEBA;
    color: #354259;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
}

.floating-circle-button:hover {
    background-color: #f2d5a5;
}

.btn-custom {
    background-color: #F3DEBA;
    color: #354259;
    border: none;
    border-radius: 100px;
    padding: 5px 10px;
    font-size: 12px;
}

.btn-custom:hover {
    background-color: #f2d5a5;
}

.btn-outline-custom {
    background-color: transparent;
    color: #F3DEBA;
    border: 2px solid #F3DEBA;
    border-radius: 100px;
    padding: 5px 10px;
    font-size: 12px;
}

.btn-outline-custom:hover {
    background-color: #F3DEBA;
    color: #354259;
}

.bg-flower-1{
    background-image: url('bg_flower_1.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 500px;
}
.bg-flower-2{
    background-image: url('bg_flower_2.jpg');
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 500px;
    
}

li {
    display: inline-block;
    font-size: 12px;
    font-family: 'Playfair Display', serif;
    list-style-type: none;
    padding: 20px 0px;
    /* text-transform: uppercase; */
    background-color: #F3DEBA;
    color: #354259;
    border-radius: 20px;
    width: 70px;
  }
  
  li span {
    display: block;
    font-size: 24px;
  }
  
  /* @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }
    
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  } */